.ReadWrite {
    margin: 0 auto;
}

.item-row .item-cards {
    transition: all ease-in 0.3s;
    transition-delay: 0.3s;
}

.selected .item-cards {
    transition: transform 0.3s ease-out;
    transform: rotateY(90deg);
    height: 0;
}

.letters {
    transition: transform 0.3s ease-out;
    transform: rotateY(90deg);
    height: 0;
}

.selected .letters {
    transition: transform 0.3s ease-out;
    transform: rotateY(0deg);
    transition-delay: 0.3s;
}

.final-txt {
    display: none;
    font-size: 12rem;
}

.end-game .final-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100vw;
    color: wheat;
    text-transform: lowercase;
    margin: 0;
}

.end-game .flew-row {
    display: none;
}