.ReadWrite {
    max-width: 1080px;
    margin: 40px auto;
}
.item-row {
    width: 1080px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.item-row .item-cards {
    transition: all ease-in 0.3s;
    transition-delay: 0.3s;
}

.selected .item-cards {
    transition: transform 0.3s ease-out;
    transform: rotateY(90deg);
    height: 0;
}

.letters {
    transition: transform 0.3s ease-out;
    transform: rotateY(90deg);
    height: 0;
}

.selected .letters {
    transition: transform 0.3s ease-out;
    transform: rotateY(0deg);
    transition-delay: 0.3s;
}